
  body {
        background-color: black;
        color: green;
        font-family: monospace;
  }
  .red-text {
    color: red;
    padding: 1.5em;
  }
  .pink-text{
    color: pink;
  }

  h2 {
    font-family: Lobster, monospace;
  }

  p {
    font-size: 16px;
    font-family: monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }
  .silver-background{
    background-color: silver;
  }
  .smaller-image {
    width: 100px;
  }
  #cat-photo-form{
    background-color: green;
 }
 .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }
    .blue-box {
        background-color: blue;
        color: #fff;
        padding: 20px;
        margin: -15px;
        padding: 40px 20px 20px 40px;
        margin: 40px 20px 20px 40px;
    }
    [type='checkbox']
  {
    margin-top: 10px;
    margin-bottom: 15px;
  }

